
<!DOCTYPE html>
<!--Load static files-->
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'notes/style.css' %}" />
<!--static files must be referenced via {% static 'file/path' %} pattern-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Note Detail</title>
</head>
<body>
<h1>{{a_note.title}}</h1>
<p>{{a_note.title}} is cat. He owns these humans: </p>
<ul>
    {%for mention in a_note.mention_set.all%}
        <li>{{mention.mention_name}}</li>
    {%endfor%}
</ul>

{% if error_msg %}
    <p><b>{{error_msg}}</b></p>
{% endif %}

<form action="{% url 'notes:favorite' a_note.id%}" method="post">
    {% csrf_token %}
    {% for human in a_note.mention_set.all%}
        <input type="radio" id="mention{{forloop.counter}}" name="mention" value="{{mention.id}}"/>
        <label for="mention{{forloop.counter}}">
               <b>&#10084</b>
        </label><br>
    {% endfor %}
    <input type="submit" value="Favorite mention"/>
</form>

<script src="{% static 'notes/test.js' %}"></script>
</body>
</html>