{% include 'notes/base.html' %}
{% load staticfiles %}
{% load custom_tags %}
<script src="{% static 'notes/form_handle.js' %}"></script>
<!--Load path to static files-->
{% block nav_bars %}
{% endblock %}
{% block note_body %}
    {% if user.note_set %}
    <ul>
        {% for note in user.note_set.all %}
        <!--stand django syntax. user (object) . note_set (object set) .all (method on that final object)-->

    <div class="notes">
        <div class="card-info-content">
            <div class="card-info-label">
                <div id="note_title"><a href="{% url 'notes:detail' note.id%}">{{note.title}}</a><br>
            <!--This links to the note-delete view/URL-->
            <form action="{% url 'notes:note-delete' note.id %}" method="post" style="display: inline;">
                {% csrf_token %} <!--use everytime using form-->
                <input type="hidden" name="note_id" value="{{note.id}}"/>
                <button type="submit">
                <img src="{% static 'notes/images/delete.png' %}" width="45" />
                </button>
            </form>
            <!--This links to note-create view/URL-->
            <form action="{% url 'notes:note-update' note.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="note_id" value="{{note.id}}"/>
                <button type="submit">
                <img src="{% static 'notes/images/edit.png' %}" width="45" />
                </button>
            </form>
        </div>
                <div class="card-info-label-text">
                    <li id="note_contents">{{ note.content|get_note_contents }}</li>
                </div>
            </div>
        </div>
    </div>


        <!--Maybe we could make this a magnifying glass which brings up a little modal/dialog of search
        options when you click it?-->
        {% endfor %}

    {% else %}
    <p>You don't have any notes</p>
    {% endif %} <!--endif required in django for all if/else blocks-->
{% endblock %}
