<!DOCTYPE html> {% load staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'notes/foundation.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'notes/style.css' %}" />
    <title>Sign-In"App Name Goes Here"</title>
    {% block page_title %} {% endblock %}

</head>

<body>
    {% block note_body %}
    <div class="login-card">
        <h1>"App Name Here"/h1>
            <h2>Sign-in</h2><br>

            <form>
                <input type="text" name="user" placeholder="Username">
                <input type="password" name="pass" placeholder="Password">
                <input type="submit" name="login" class="login login-submit" value="Login">
            </form>

            <div class="login-help">
                <a href="#">Register</a>
            </div>
    </div>
    {% endblock %}
</body>

</html>