.popup{
    display: none;
    position:absolute;
    overflow:hidden;
    padding: 1em;
    top:50%;
    left:40%;
    border-radius: 1.1em;
    box-shadow:0px 0px 60px grey;
    background-color:white;

}

.content{
    display:block;
    text-align: center;
    color:white;
}

.close{
    float:right;
}

.close:hover,
.close:focus{
    cursor:pointer;
}




