/* body {
    background: white url('images/white_blurry_bg.jpg');
} */


/*Nav bar stuff*/

.logo {
    height: 100px;
    width: 100;
}


/*Top bar */

.top-bar-center {
    position: relative;
}

.menu {
    size: 40px;
}

.top-bar {
    position: relative;
}

.top-bar,
.top-bar ul {
    background-color: #131d28;
}


/* .animated-search-form[type=search] {
    width: 10rem;
    border: 0.125rem solid #e6e6e6;
    box-shadow: 0 0 3.125rem rgba(0, 0, 0, 0.18);
    border-radius: 0;
    background-image: url("//image.ibb.co/i7NbrQ/search_icon_15.png");
    background-position: 0.625rem 0.625rem;
    background-repeat: no-repeat;
    padding: 0.75rem 1.25rem 0.75rem 2rem;
    transition: width 0.4s ease-in-out;
}

.animated-search-form[type=search]:focus {
    width: 100%;
} */

.top-bar input {
    max-width: 1200px;
    position: relative;
}

[type='search'] {
    height: 50px;
    width: 300px;
    border: transparent;
    background-color: rgba(0, 0, 0, 0.00);
    text-decoration-color: #219d46;
    color: #219d46;
}

[type='search']:focus {
    background-color: transparent;
    border: transparent;
}

.button {
    height: 50px;
    width: 200px;
    background-color: #219d46;
    margin-right: 70em;
    margin-left: .5em;
}

.profile-avatar__image {
    width: 70pxs;
    height: 60px;
    border-radius: 30px;
}

.profile-avatar_name {
    color: white;
    font-size: 20px;
    margin-right: 1em;
}

.updates-button {
    height: 60px;
    width: 60px;
    background-color: #c2c2c2;
    border: none;
    padding: 10px;
    border-radius: 30px;
    outline: 0;
    position: relative;
    cursor: pointer;
    float: left;
    margin-right: 1em;
    -webkit-transition: background-color .2s cubic-bezier(.694, .0482, .335, 1), width .2s cubic-bezier(.694, .0482, .335, 1);
    -moz-transition: background-color .2s cubic-bezier(.694, .0482, .335, 1), width .2s cubic-bezier(.694, .0482, .335, 1);
    -o-transition: background-color .2s cubic-bezier(.694, .0482, .335, 1), width .2s cubic-bezier(.694, .0482, .335, 1);
    transition: background-color .2s cubic-bezier(.694, .0482, .335, 1), width .2s cubic-bezier(.694, .0482, .335, 1);
}

.updates-button:hover {
    color: green;
}

.trophy {
    size: 10px;
}


/*Badge section */

.badge {
    background: #219d46;
}

#bage:ua {}

.gridmodal {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.tool-tip {
    color: #219d46;
}

h5 {
    text-align: center;
    font-size: 2em;
}


/*Username menu stuff */

.multilevel-accordion-menu .is-accordion-submenu-parent a {
    /* background: #4d5158; */
}

.multilevel-accordion-menu .is-accordion-submenu a {
    /* background: #35383d; */
}

.multilevel-accordion-menu .sublevel-1 {
    text-indent: 1rem;
}

.multilevel-accordion-menu .sublevel-2 {
    text-indent: 2rem;
}

.multilevel-accordion-menu .sublevel-3 {
    text-indent: 3rem;
}

.multilevel-accordion-menu .sublevel-4 {
    text-indent: 4rem;
}

.multilevel-accordion-menu .sublevel-5 {
    text-indent: 5rem;
}

.multilevel-accordion-menu .sublevel-6 {
    text-indent: 6rem;
}

.multilevel-accordion-menu a {
    color: #fefefe;
    font-size: 30px;
}

.multilevel-accordion-menu a::after {
    border-color: #fefefe transparent transparent;
}

.multilevel-accordion-menu .menu>li:not(.menu-text)>a {
    padding: 1.2rem 1rem;
}


/* .multilevel-accordion-menu .is-accordion-submenu-parent[aria-expanded="true"] a.subitem::before {
    content: "\f016";
    font-family: FontAwesome;
    margin-right: 1rem;
}

.multilevel-accordion-menu .is-accordion-submenu-parent[aria-expanded="true"] a::before {
    content: "\f07c";
    font-family: FontAwesome;
    margin-right: 1rem;
} */

.multilevel-accordion-menu .is-accordion-submenu-parent[aria-expanded="false"] a::after {
    content: "\f0d7";
    font-family: FontAwesome;
    margin-left: .5em;
}


/*Left Nav Stuff*/

.left-nav {
    background-color: #131d28;
    width: 23em;
    text-align: center;
    height: 500em;
    border-spacing: 10px;
}

.divider {
    size: 1px;
    style: solid;
    color: black;
}

.Click,
a {
    font-size: 50px;
    color: #219d46;
    margin-bottom: 100px;
    border-color: white;
}

.Click {
    /* border-style: solid; */
    /* border-color: #ff0000 #0000ff; */
    padding: 50px;
    >>>>>>>0e2fd0c60c8eb833ecefa4a1a39d2a22c2ac5bd9
}