
<!DOCTYPE html>
<!--Load static files-->
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'cats/style.css' %}" />
<!--static files must be referenced via {% static 'file/path' %} pattern-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cat Detail</title>
</head>
<body>
<img src="{{ kitten.cat_pic }}" height="500">
<h1>{{kitten.cat_name}}</h1>
<p>{{kitten.cat_name}} is cat. He owns these humans: </p>
<ul>
    {%for human in kitten.human_set.all%}
        <li>{{human.human_name}}</li>
    {%endfor%}
</ul>

{% if error_msg %}
    <p><b>{{error_msg}}</b></p>
{% endif %}

<form action="{% url 'cats:favorite' kitten.id%}" method="post">
    {% csrf_token %}
    {% for human in kitten.human_set.all%}
        <input type="radio" id="human{{forloop.counter}}" name="human" value="{{human.id}}"/>
        <label for="human{{forloop.counter}}">
            {{human.human_name}}
            {% if human.is_favorite %}
               <b>&#10084</b>
            {% endif %}
        </label><br>
    {% endfor %}
    <input type="submit" value="Favorite human"/>
</form>
<p id="demo"></p>

<script src="{% static 'cats/test.js' %}"></script>
</body>
</html>